# Ignore unnecessary files and directories for Docker

# Ignore Go binary executable (if you use a different name, adjust it)
main

# Ignore Go build cache
*.sum

# Ignore any local development files or directories
.vscode
.idea
.DS_Store
